@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");

.App{
  min-height: 100vh;
  display: flex;
  width: 100%;
  /* background-image: url("https: //img.freepik.com/free-vector/emoji-framed-background_53876-89764.jpg"); */
   /* background-color: #2f4c78; 
  background-image: linear-gradient(0deg, #1e284a 0%, #5b7ce1 50%, #87ddf5 100%);  */
  background-image: url("bgimage.webp");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat; 
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}